body {
  font-family: Verdana, sans-serif;
  background-color: #23262f;
  color: #c4a666;
  margin: 0;
  font-size: 16px;
  height: 100%;
  justify-content: center;
}

body, main, #title-div, #img-div, #tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: #171a21;
  padding: 1.5em 0;
}

main, img, #tribute-info {
  border-radius: 4em;
}

#title-div, #img-div {
  padding-bottom: 1.5em;
}

#title {
  font-size: 2em;
  font-weight: bold;
}

#title-desc, #img-caption {
  font-size: 0.75em;
}

#img-div {
  gap: 0.25em;
}

img {
  display: block;
}

#image {
  max-width: 100%;
  height: auto;
}

#tribute-info {
  width: 75%;
  background-color: #23262f;
  padding: 2em;
  gap: 1em;
}

#info-title {
  font-size: 1.5em;
  font-weight: bold;
}

#info {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding-bottom: 1px;
}

#date, #hijri, #info-content {
  padding-left: 1em;
}

#date {
  font-weight: bold;
}

#hijri {
  text-align: center;
  width: 4em;
}

#footer {
  font-size: 0.8em;
}

#info-content {
  width: 82%
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
